*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* .container{
    width: 1100px;
    margin: 0 auto;
} */

@font-face{
    font-family: "Revalia" ;
    src: url("../fonts/Revalia.woff2") format("woff2");
}

@font-face{
    font-family: "Roboto" ;
    src: url("../fonts/Roboto.woff2") format("woff2");
}

@font-face{
    font-family: "Roboto" ;
    src: url("../fonts/roboto-latin.woff2") format("woff2");
}

body{
    font-family: "Roboto" ;
}

/* --------------------------Start HEADER------------------- */

header{
    min-height: 700px;
    background: #EEEFF1;
    padding: 0 calc(50% - 490px);
}

.top-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 57px;
}

.logo{
    font-family: "Revalia" ;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
/* identical to box height */

    text-align: center;

    color: #34547A;

}

nav>.elements-menu{
    display: flex;
}

nav>.elements-menu>.el-menu{
    list-style-type: none;
    text-transform: uppercase;
    
}

.el-menu>a{
    text-decoration: none;
    color: black;
    margin-left: 42px;
}

.el-menu>a:hover{
    font-size: 16px;
    font-weight: bold;
    color: #34547A;
}

.main-header{
    margin-top: 166px;
    display: flex;
 
}

.main-header>.right-side{
    margin-left: 143px;
}

.title1{
    font-weight: bold;
    font-size: 48px;
   line-height: 79px; 
    color: #000000;
    margin-bottom: 60px;
}

.txt{
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 60px;
}

.btn{
    width: 225px;
    height: 65px;
    background: #34547A;
    border: none;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;  
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 120px;
}



/* ----------------------START section about----------------------- */

.about{
    text-align: center;
    white-space: pre-line;
    padding-top: 100px;
    padding-bottom: 40px;
}

.title2{
    font-weight: bold;
    font-size: 32px;
    color: #000000;
}

/* ----------------------START section project----------------------- */

section.project{
    background: #34547A;
    height: 250px;
    color: white;
    display: flex;
    align-items: center;
    justify-content:space-around;

}

.project-el{
    display: flex;
    /* white-space: pre-line; */
    align-items: center;
    width: 141px;
    justify-content: space-between;

}

section.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    height: 653px;
    padding-bottom: 60px;
}

section.skills>.right-side>img{
    width: 555px;
    margin-left: 100px;
    
}

.temp{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    

}

.photo_video{
    width: 1110px;
    height: 600px;
    margin-top: 57px;
    margin-bottom: 100px;
}

.text2{
    margin-top: 50px;
    white-space: pre-line;
    text-align: center;
}

.heading{
    font-weight: bold;

}

.microsoft{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 72px;
    margin-bottom: 100px;
}

.end{
    background: #34547A;
    display: flex;
    padding: 0 calc(50% - 650px);
    justify-content: space-between;
    padding-top: 56px;
    padding-bottom: 55px;
}

.right-side1{
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.name{
    font-weight: bold;
    color: white;
}

.the_rights{
    color: white;
    margin-top: 20px;
}

.left-side1{
    display: flex;
    flex-direction: column;
}

.gallery{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%; 
    grid-template-rows: 50% 50%;
}

.gallery-el{
    width: 100%;
}


/* 1109 */

@media (max-width: 1130px) and (min-width: 600px){

    section.skills>.right-side>img{
        width: 40vw;
        margin: 0px;
        margin-top: 5vw;
    }

    section.skills,.top-header,.main-header
    
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .main-header>.right-side{
        margin-left: 0;
    }

    nav>.elements-menu>.el-menu>a{
        
        margin-right: 3vw;
        margin-left: 3vw;
    }

    .photo_video{
        width: 100%;
        margin-bottom: 0;
        margin-top: 0;
    }

    .microsoft>img{
        width: 24vw;
    }

    .project-el{
        width: 15vw;
        flex-direction: column;
    }
    .right-side1{
        width: 40vw;
    }
}